:root {
    --color-1: #478add;
    --color-2: #d13897;
}

main {
    font-family: "Abel", sans-serif;

    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    padding: 6vh;

    border: solid transparent 2vh;
    border-image: linear-gradient(to right, var(--color-1), var(--color-2)) 1;

    justify-content: space-between;
}

header {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

@media (max-width: 450px) {
    header {
        flex-direction: column;
    }

    header h1 {
        order: -1;
    }
}

footer {
    display: flex;

    opacity: 0.4;

    justify-content: space-around;
    align-items: center;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

a:link {
    color: var(--color-1);
}

a:visited {
    color: var(--color-2);
}

h1 a:link,
h1 a:visited {
    color: currentColor;
}
